# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# Ignore generated/expected submissions
expected_submission.csv
*submission*.csv
!dataset/sample_submission.csv
!expected_submission.csv


# ML models / training logs
catboost_info/
*.joblib
*.pkl
